<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <link rel="stylesheet" type="text/css" href="/lib/bootstrap/bootstrap.min.css" />

    <script type="text/javascript" src="/lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/lib/bootstrap/bootstrap.min.js"></script>

    <title>@ViewBag.Title</title>
</head>
<body>
    <main role="main">
        @RenderBody()
    </main>
</body>
</html>
